<h1>Create a New Bulk Discount</h1>

<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, local:true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :discount, "Discount Percentage" %>
  <%= form.text_field :discount %>
  <%= form.label :quantity_threshold, "Quantity Threshold" %>
  <%= form.text_field :quantity_threshold %>

  <%= form.submit "Submit" %>
<% end %>
